form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;

}
.resaltado{
    background-color: aquamarine;
}

.multigual{
    background-color: yellow;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(255, 255, 157);
    color: black;
}