/* HOJA DE ESTILOS PARA EL INDEX.HTML */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; /* Hace que el texto de los enlaces sea negrita */
}

nav ul li a:hover {
    text-decoration: underline; /* Subrayar */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    
}

header h1 {
    color: #333;
    text-align: center;
    margin-top: 0;
}

article {
    margin-bottom: 40px; 
}

figure {
    text-align: center;
    margin: 20px 0;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

figcaption {
    font-style: italic;
    color: #666;
    margin-top: 10px;
}


section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

form label {
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px; 
}

form input[type="number"],
form select,
form input[type="submit"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd; /* Borde gris */
    border-radius: 5px;
    width: 100%; 
    max-width: 300px; 
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer; /* cambia el estilo del cursor para m谩s facha  */
    font-size: 1.2em; 
    padding: 15px;  
}

form input[type="submit"]:hover {
    background-color: #555;
}

/* HOJA DE ESTILOS PARA CALCULADORA.PHP */

.resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resultados .error {
    color: #ff0000;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.resultados .resultado {
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
}

.resultados h2 {
    color: #333;
    margin-bottom: 20px;
}

.volver_calculadora {
    display: block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #000;
    position: absolute; /* Posiciona el bot贸n en la parte inferior del contenedor */
    bottom: 20; /* Coloca el bot贸n en la parte inferior */
    left: 50%;
    transform: translateX(-50%); /* Centra el bot贸n horizontalmente */
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.volver_calculadora:hover {
    background-color: #555;
    color: #fff;
}

.volver {
    display: block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #000;
    position: relative; 
    left: 50%;
    transform: translateX(-50%); /* Centra el bot贸n horizontalmente */
    transition: background-color 0.3s, color 0.3s;
    text-align: center;

}

.volver:hover {
    background-color: #555;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position:absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 0.9em;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.form_autores{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2x2 */
    gap: 20px; 
    justify-content: center;
}

.developer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px; 
    overflow: hidden; 
    justify-content: space-between; 
}

.developer img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.developer p {
    margin: 10px 0;
    color: #333;
    flex-grow: 1; 
    display: flex;
    align-items: center; 
}

.developer button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.developer button:hover {
    background-color: #555;
}


